<div class="row">
    <div class="col-sm-12">
        <form [formGroup]="reciepeForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-success" [disabled]="!reciepeForm.valid">Save</button> &nbsp;
                    <button type="button" class="btn btn-warning" (click)="onCancel()">Cancel</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input type="text" class="form-control" formControlName="Name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="ImageUrl">Image Url</label>
                        <input type="url" class="form-control" formControlName="imagePath" #preview>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <img [src]="preview.value" class="img-responsive">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea type="text" rows="6" class="form-control" id="description" formControlName="description"></textarea>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-12" formArrayName="ingrediants">
                    <div id="array" class="row" *ngFor="let ingredientCtrl of IngrediantControls; let i = index;" [formGroupName]="i">
                        <div class="col-sm-8">
                            <input type="text" class="form-control" formControlName="name">
                        </div>
                        <div class="col-sm-2">
                            <input type="number" class="form-control" formControlName="amount">
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-danger">X</button>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-success" (click)="onAddIngrediants()">Add Ingrediants</button>
                </div>
            </div>
        </form>
    </div>
</div>