<div class="row">
  <div class="col-sm-12">
    <app-header></app-header>
  </div>

  <div class="col-sm-12">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- <div class="container">
<div class="row">
  <div class="col-sm-12">
    <app-game-control (intervalField) ="OnInterval($event)"></app-game-control>
    <app-even-number *ngFor = "let even of EvenNumbers" [Even] = "even"></app-even-number>
    <app-odd-number *ngFor = "let odd of OddNumbers" [Odd] = "odd"></app-odd-number>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-12">
    <app-app-copcik (serverEventEmitter)="onAddedServer($event)"
    (bluePrintEventEmitter)="onAddedBluePrint($event)"></app-app-copcik>
  
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="col-sm-12">
    <app-app-server *ngFor ="let items of serverElements" [Element]="items">
      <p>
        <strong *ngIf = "items.type === 'server'" style="color: blue;">{{items.content}}</strong>
        <em *ngIf = "items.type === 'bluePrint'" style="color: red;" >{{items.content}}</em>
      </p>
    </app-app-server>
  </div>
</div> -->

<!--<div class="row">
  <div class="col-sm-12">
    <app-shopping-list></app-shopping-list>
   
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <app-angular-forms></app-angular-forms>
  </div>
</div>-->