<div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" style="cursor: pointer;">Reciepe Book</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li routerLinkActive = "active" style="cursor: pointer;"><a routerLink = "/reciepe"*ngIf="isAunthenticateMode">Reciepes</a></li>
        <li routerLinkActive = "active" style="cursor: pointer;"><a routerLink = "/auth"*ngIf="!isAunthenticateMode">Authentication Mode</a></li>
        <li routerLinkActive = "active" style="cursor: pointer;"><a routerLink = "/shopping-list"*ngIf="isAunthenticateMode">Shopping List</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
       <li><a style="cursor: pointer;"(click)="onLogout()" *ngIf ="isAunthenticateMode">Logout</a></li> 
      <li class="dropdown"appDropDown *ngIf ="isAunthenticateMode">
        <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a style="cursor: pointer;"><span class="glyphicon glyphicon-save"(click)="save()"></span>&nbsp;Save Data</a></li>
            <li><a style="cursor: pointer;"><span class="glyphicon glyphicon-log-in"(click)="fetch()"></span>&nbsp;Fetch Data</a></li>
        </ul>
      </li>
      </ul>
    </div>
  </div>
