<div class="container">
    <!--  <select [(ngModel)]="selectedValue" class="form-control">
        <option *ngFor="let index of items;">{{index.name}}</option>
    </select>
    <hr>
    <div class="row"[ngSwitch]="selectedValue">
        <div *ngSwitchCase="'One'"class="one">One is Pressed:  </div>
        <div *ngSwitchCase="'Two'"class="two">Two is Pressed:  </div>
        <div *ngSwitchCase="'Three'"class="three">Three is Pressed:  </div>
        <div *ngSwitchDefault>Default is Pressed:</div>
    </div>

<hr> -->

    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label for="Name">Name</label>
                    <input type="text" width="80" id="name" name="name" class="form-control" autocomplete="off" ngModel required>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label for="Amount">Amount</label>
                    <input type="number" width="80" id="amount" name="amount" class="form-control" autocomplete="off" ngModel required pattern="^[1-9]+[0-9]*$">
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <button type="submit" class="btn btn-success" [disabled]="!f.valid">{{editMode ? 'Update' : 'Add'}}</button>&nbsp;
            <button type="button" class="btn btn-info" (click)="onDelete()" *ngIf="editMode">Delete</button>&nbsp;
            <button type="button" class="btn btn-danger" (click)="onClear()">Clear</button>
        </div>
    </form>
</div>