hr{
    color: goldenrod;
    font-size: larger;
    font-style: oblique;
}
.one{
    color: indigo;
    font-size: larger;
    font-style: oblique;
}
.two{
     color: mediumvioletred;
     font-size: larger;
    font-style: oblique;
}
.three{
    color: olive;
    font-size: larger;
    font-style: oblique;
}